# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.DS_Store

*.asv
*.swp
*.swo

old/

# Ignore output files in example directoreis
Examples/**/Results.mat 
Examples/**/WellStruct.mat 
Examples/C-1_Pump_Test_Example/*.pdf
Examples/C-1_Pump_Test_Example/*.png
Examples/C-1_Pump_Test_JPO_tides/*.pdf
Examples/C-1_Pump_Test_JPO_tides/*.png
Examples/Xue2013_Example/*.pdf
Examples/Xue2013_Example/*.png
Examples/Xue2016_Example/*.pdf
Examples/Xue2016_Example/*.png
Examples/Xue2016_Example/*.csv
Examples/Xue2016_Example-wEQs/*.pdf
Examples/Xue2016_Example-wEQs/*.png

#try this
Examples/**/*pdf
Examples/**/*png

Examples/**/calcHydroProperties/output/*pdf
Examples/**/calcHydroProperties/output/*png

Examples/**/calcHydroProperties/output/*csv
Examples/**/calcHydroProperties/output/*txt

Examples/**/calcHydroProperties/output/*csv
Examples/**/calcHydroProperties/output/*txt

# Processed data files (and hidden files)
Examples/**/data/processed/*csv
Examples/**/data/processed/*txt
Examples/**/data/processed/.*

# Ignore all TideSynth areal strains files (can be large >50 MB)
TideSynth/*txt


